.HistoryPage {

	header {
		@apply mb-10 flex items-center gap-4;

		h3 {
			@apply text-slate-700;
		}

		.Balance {
			@apply ml-auto;
			@apply flex flex-col;

			.Label {
				@apply text-sm font-medium text-slate-500;
			}

			.Value {
				@apply text-sm font-semibold text-slate-700;
			}
		}

		.SearchForm {

			.FormField {
				@apply relative;

				input {
					@apply h-12;
					@apply rounded-full pl-4 pr-14;
				}

				.Button {
					@apply absolute right-1 top-1 w-10 h-10;
					@apply p-0 rounded-full;
					@apply flex items-center justify-center;
					
					.Icon {
						@apply text-xl;
					}
				}
			}
		}
	} // header

	.Filter {
		@apply mt-5 mb-10 p-1;
		@apply flex items-center gap-4;
		@apply text-sm;
		@apply bg-white drop-shadow-sm;
		@apply border border-slate-200 rounded-lg;

		section {
			@apply flex items-center gap-4;
		}

		.Title {
			@apply pl-3;
			@apply text-slate-600 font-semibold;
		}

		.Filters {
			
			.Selector {
				@apply h-12 flex items-center;
				@apply rounded-full overflow-hidden border border-slate-200;

				label {
					@apply h-full;
					@apply cursor-pointer active:opacity-80;

					&:not(:last-child) {
						@apply border-r border-slate-200;
					}

					input {
						@apply absolute top-0 left-0 w-0 h-0 opacity-0;
					}

					.Label {
						@apply px-4 h-full flex items-center justify-center;
						@apply font-semibold text-slate-700;
					}

					input:checked + .Label {
						@apply bg-fuchsia-500 text-fuchsia-50;
					}
				}
			}

			.Dropdown {
				@apply relative;

				.Icon {
					@apply absolute right-2 top-2;
					@apply text-xl text-violet-500;
					@apply pointer-events-none;
				}
			}

			select {
				@apply h-10 pl-3 pr-8 rounded-full appearance-none;
				@apply border border-slate-200;
				@apply font-medium cursor-pointer;
				@apply focus:outline-violet-500;
				
				option {
					@apply font-medium;
				}
			}

		} // .Filters

		.FilterActions {
			@apply ml-auto flex items-center gap-1;

			.Reset {
				@apply p-0 w-12 h-12 flex items-center justify-center;
				@apply text-xl;
			}
		}
	} // .Filter

	.List {

		.ListHeader {
			@apply mb-2 grid grid-cols-5;
			@apply text-slate-500 font-semibold text-xs uppercase;

			.Column {
				@apply p-3;

				&.Right {
					@apply text-right;
				}
			}
		}

		.ListItem {
			@apply mb-2 grid grid-cols-5;
			@apply text-slate-700 text-sm font-medium;
			@apply bg-slate-100 rounded-md;
			@apply cursor-pointer;

			&:hover {
				@apply bg-slate-200/60;
			}

			&:active {
				@apply opacity-80;
			}

			.Column {
				@apply py-4 px-3;
			}

			.Amount {
				@apply text-right font-semibold;

				&.Positive {
					@apply text-emerald-500;
				}
				&.Negative {
					@apply text-purple-500;
				}
			}

		}

	} // .List

	.Pagination {
		@apply mt-10;

		span[aria-current="page"] > span {
			@apply bg-fuchsia-500 border-fuchsia-500;
			@apply text-fuchsia-100;
		}
	} // .Pagination

	.EmptyTransactions {
		@apply mt-10;
		@apply font-semibold text-slate-600;
	}

} // .HistoryPage

@media screen and (max-width: 500px) {
	.HistoryPage {

		header {
			@apply mt-4 mb-4 flex-col items-start;

			.Balance {
				@apply ml-0;
			}

			.SearchForm {
				@apply w-full;

				input {
					@apply w-full;
				}
			}
		} // header

		.Filter {
			@apply mt-0 flex-col p-4;

			section {
				@apply w-full flex-col items-start;
			}

			.Filters {
				@apply w-full;
			}

			.Selector {
				@apply w-full;

				label {
					@apply grow shrink;
				}
			}

			.Dropdown {
				@apply w-full;

				select {
					@apply w-full;
				}
			}
		} // .Filter

		.List {

			.ListHeader {
				@apply hidden;
			}

			.ListItem {
				@apply grid-cols-1 p-4;

				.Column {
					@apply p-0;
				}
			}

		} // .List

	} // .HistoryPage
}