.App_Home {
	@apply pb-10;

	.HUD {
		@apply sticky top-20;
		@apply h-24 p-2 flex items-center justify-between;
		@apply rounded-xl overflow-hidden;
		@apply bg-white/80 backdrop-blur-sm border border-slate-200;
		
		.Balance {
			@apply min-w-[240px] h-full px-4 py-2;
			@apply flex flex-col justify-between;
			@apply rounded-lg;
			@apply bg-gradient-to-r from-fuchsia-600 to-purple-800;

			.Label {
				@apply text-xs text-white/70 font-semibold;
			}

			.Amount {
				@apply text-xl font-bold text-white tracking-tight;
			}
		}

		.Menu {
			@apply h-full flex items-stretch gap-2;

			.MenuItem {
				@apply w-[100px] grow shrink px-2;
				@apply flex flex-col items-center justify-center text-center;
				@apply bg-slate-100 rounded-lg;

				.Icon {
					@apply text-2xl text-transparent;
					@apply bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600
				}

				.Label {
					@apply font-semibold text-sm text-slate-700;
				}

				&:hover {
					@apply bg-slate-200/60;
				}

				&:active {
					@apply opacity-80;
				}
			}
		}
	
	}

	.LatestTransactions {
		@apply mt-14;

		h3 {
			@apply mb-5 text-slate-700;
		}

		.Actions {
			@apply mt-8 flex items-center justify-end gap-2;
		}

	}

	.List {

		.ListHeader {
			@apply mb-2 grid grid-cols-5;
			@apply text-slate-500 font-semibold text-xs uppercase;

			.Column {
				@apply p-3;

				&.Right {
					@apply text-right;
				}
			}
		}

		.ListItem {
			@apply mb-2 grid grid-cols-5;
			@apply text-slate-700 text-sm font-medium;
			@apply bg-slate-100 rounded-md;
			@apply cursor-pointer;

			&:hover {
				@apply bg-slate-200/60;
			}

			&:active {
				@apply opacity-80;
			}

			.Column {
				@apply py-4 px-3;
			}

			.Amount {
				@apply text-right font-semibold;

				&.Positive {
					@apply text-emerald-500;
				}
				&.Negative {
					@apply text-purple-500;
				}
			}

		}

	} // .List

	.EmptyTransactions {
		@apply mt-10;
		@apply font-semibold text-slate-600;
	}

}

@media screen and (max-width: 500px) {
	.App_Home {

		.HUD {
			@apply w-full p-0 flex-col h-fit;

			.Balance {
				@apply w-full rounded-none;
			}

			.Menu {
				@apply w-full p-2;

				.MenuItem {
					@apply h-[70px];
				}
			}

		} // .HUD

		.List {
			
			.ListHeader {
				@apply hidden;
			}

			.ListItem {
				@apply grid-cols-1 p-4;

				.Column {
					@apply p-0;
				}
			}

		} // .List

	} // .App_Home
}