.TransactionPage {
	@apply py-5;
	@apply flex flex-col items-center justify-center;

	header {
		@apply mb-10 flex items-center justify-start gap-2;

		.Balance {
			@apply ml-auto;
			@apply flex flex-col text-right;

			.Label {
				@apply text-sm font-medium text-slate-500;
			}

			.Value {
				@apply text-sm font-semibold text-slate-700;
			}
		}

		.Actions {
			@apply ml-auto;
			@apply flex items-center justify-start gap-2;

			.Button {
				@apply px-4;
			}

			.Icon {
				@apply text-lg;
			}
		}

		
	}

	.Errors {
		@apply mt-3 mb-3 pl-4;
		@apply border-l-4 border-rose-500;

		.Title {
			@apply font-semibold text-rose-500;
		}

		ul {
			@apply text-slate-700;
		}
	}

	.Tabs {
		@apply mt-4 p-2;
		@apply flex items-center gap-2;
		@apply bg-slate-100 rounded-full;

		.Tab {
			@apply py-2;
			@apply grow shrink basis-0;
			@apply text-center text-slate-600 font-semibold;
			@apply rounded-full;

			&:hover {
				@apply bg-white/40;
			}
			
			&:active {
				@apply opacity-80;
				@apply bg-white/20;
			}

			&.Active {
				@apply bg-fuchsia-500 text-white;
				@apply drop-shadow-sm;
			}
		}
	}

	.TransactionForm {
		@apply max-w-[360px] w-full;

		h2 {
			@apply mb-1;
		}

		form {
			@apply mt-8;
		}
	}

	.Type {
		@apply flex items-center gap-2;

		.Icon {
			@apply text-[3.5rem] text-fuchsia-500;

		} // .Icon

		.Text {
			@apply flex flex-col;
			
			.Title {
				@apply text-xl font-bold text-violet-600;
			}

			.Ref {
				@apply font-semibold text-slate-700;
			}

		} // .Text

	} // .Type

	.Amount {
		@apply text-xl font-semibold;
	}

	.Date {
		@apply text-lg;
	}

	.Notes {
		@apply text-lg;
	}

	.EmptyBalance {
		@apply mt-10;
		@apply font-semibold text-slate-600;
	}
}