.LoginPage {
	@apply py-16;
	@apply flex flex-col items-center justify-center;

	.LoginForm {
		@apply max-w-[360px] w-full;

		h2 {
			@apply mb-1;
		}

		.Error {
			@apply pl-4 mt-5;
			@apply text-slate-700 font-medium;
			@apply border-l-4 border-rose-500;
		}

		form {
			@apply mt-8;
		}
	}
}

@media screen and (max-width: 500px) {
	.LoginPage {
		@apply px-10;
	}
}