.RegistrationPage {
	@apply py-16;
	@apply flex flex-col items-center justify-center;

	.RegistrationForm {
		@apply max-w-[360px] w-full;

		.Errors {
			@apply mt-5 pl-4;
			@apply border-l-4 border-rose-500;

			.Title {
				@apply font-semibold text-rose-500;
			}

			ul {
				@apply text-slate-700;
			}
		}

		h2 {
			@apply mb-1;
		}

		form {
			@apply mt-8;
		}
	}
}

@media screen and (max-width: 500px) {
	.RegistrationPage {
		@apply px-10;
	}
}