* {
	--webkit-tap-highlight: transparent;
}

body {
	@apply w-full pt-16;
	@apply bg-white;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.Container {
	@apply max-w-[940px] mx-auto px-4;
}

.Content {
	@apply min-h-[calc(100svh-3.5rem)] px-10 py-10;
	@apply text-slate-800;
}

h2 {
	@apply font-bold text-3xl;
}

h3 {
	@apply font-bold text-2xl;
}

p.Lead {
	@apply text-lg font-semibold text-slate-500;
}

@media screen and (max-width: 500px) {
	.Content {
		@apply p-0 w-full;
	}
}