.Button {
	@apply h-12 px-6 flex items-center gap-2;
	@apply font-semibold text-slate-700;
	@apply bg-slate-100 rounded-md;

	&:active {
		@apply opacity-80;
	}

	// Primary style
	&.Primary {
		@apply bg-violet-500;
		@apply text-violet-50;

		&:hover {
			@apply bg-violet-600;
		}
	}

}