.Form {
	@apply flex flex-col gap-4;

	.FormField {
		@apply flex flex-col-reverse gap-2;

		&.Horizontal {
			@apply flex-row items-stretch;

			input {
				@apply h-auto;
			}
		}

		label {
			@apply font-semibold;
		}

		input, textarea {
			@apply h-10 px-2;
			@apply border border-slate-300;

			&:focus {
				@apply outline-violet-500;

				& + label {
					@apply text-violet-500;
				}
			}
		}

		textarea {
			@apply resize-none py-2 h-fit;
		}
	}

	.Actions {
		@apply mt-4;
		@apply flex items-center justify-end gap-2;
	}
}