.Header {
	@apply fixed top-0 left-0 z-[5000];
	@apply w-full h-16;
	@apply text-slate-800;
	@apply bg-white border-b border-slate-200;

	> .Container {
		@apply w-full h-full;
		@apply flex items-center gap-6;
	}

	.Brand {
		@apply shrink-0 h-full py-4 mr-auto;

		img {
			@apply block h-full w-auto;
		}
	}

	.Menu {
		@apply h-full flex items-center;

		.MenuItem {
			@apply h-full px-3 flex items-center;
			@apply font-medium text-slate-700;

			&:hover {
				box-shadow: inset 0 -3px 0 rgba(0,0,0,.1);
			}

			&:active {
				@apply opacity-80;
			}

			&.Active {
				@apply text-violet-500;
				box-shadow: inset 0 -3px 0 rgb(139 92 246);
			}
		}
	}

	.User {
		@apply flex items-center gap-2;
		
		.Icon {
			@apply text-3xl text-slate-500;
		}

		.Text {
			@apply flex flex-col gap-1;
			@apply text-right;
		}

		.Name {
			@apply text-sm font-semibold text-slate-700 leading-[1];
		}

		.Email {
			@apply text-sm leading-[1] text-slate-500;
		}

	}

	.LogoutButton {
		@apply shrink-0 px-4;
	}

}

@media screen and (max-width: 500px) {
	.Header {
		.Container {
			@apply gap-2;
		}		

		.User {
			.Email {
				@apply hidden;
			}
		}

	}
}